<!DOCTYPE html>
<html>
  <head>
    <title>Реестр инфоматов медицинских организаций Сахалинской области</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
